# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Swift / Xcode build artifacts
.build/
*.ipa
*.dSYM
*.dSYM.zip

# macOS
.DS_Store

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods / Carthage (generated dependencies)
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
